@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
$bs-gutter-x: 1.5rem;
$bg-color: #fff;
$whiteSec: #f2f2f2;
$dark: #0c0c0c;
$blackSec: #333;
$blueCard: rgba(140, 178, 224, 0.814);
$quinze: 15px;
.dark-mode {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .nav-mobile {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .navigation {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .navigation .nav-container {
  background-color: $dark;
}
.dark-mode .navigation .nav-container .brand {
  background-color: dark;
  color: $bg-color;
}
.dark-mode .navigation .nav-container nav {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .navigation .nav-container .nav-list {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .navigation .nav-container .nav-list li {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .navigation .nav-container .nav-list li .nav-dropdown {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode #rod {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .nav-list a {
  background-color: $dark;
  color: $bg-color;
}
.videoVovo {
  margin-top: 200px;
  height: 100vh;
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cardProd {
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  background-color: $blueCard;
  height: 290px;
  border-radius: 20px;
}
.cardS {
  border-radius: 5px;
  margin: 10px 10px;
  background-color: $bg-color;
  height: 270px;
}
.textNome {
  font-weight: 600;
  font-size: 20px;
}
.imgCard {
  border-radius: 5px;
  background-color: $whiteSec;
}
.imgCard img {
  border-radius: 50px;
  background-color: $blueCard;
  width: 100px;
  height: 100px;
}
.saibaMais {
  font-size: 20px;
}
.btnSaibaMais {
  border: none;
  background-color: $blueCard;
  color: $whiteSec;
  border-radius: 5px;
  font-size: 15px;
  width: 100px;
  height: 40px;
}
.btnSaibaMais:hover {
  opacity: 70%;
}
.cardRow {
  flex-wrap: wrap;
}
.textNome,
.textDesc,
.btnSaibaMais {
  font-family: sans-serif;
}
.nome,
.desc,
.saibaMais,
.imgCard {
  flex-wrap: nowrap;
  margin-right: -0.7em;
  margin-left: -0.7em;
}
.nome {
  margin-top: 10px;
}
.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 1.4em;
  border-radius: 10px;
  background-color: $blueCard;
  cursor: pointer;
}

.controls :hover {
  opacity: 50%;
}

#left-arrow {
  left: $quinze;
}

#right-arrow {
  right: $quinze;
}

.dark-mode .cardS {
  background-color: $dark;
  color: $bg-color;
}

.dark-mode .cardS .imgCard {
  background-color: $blackSec;
  color: $whiteSec;
}
.dark-mode .btnSaibaMais {
  color: $dark;
}
