@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Cabin&display=swap");
$bg-color: #fff;
$dark: #0c0c0c;
$porCento: 100%;
$porCento2: 50%;
$porX: 100px;
$slidePx: 0 -100px;
$flex: flex;
$cenTer: center;
.textoVovo {
  font-family: "ADLaM Display", cursive;
  font-size: 30px;
}
.pato {
  background-color: $bg-color;
}
.imgQuick {
  width: $porX;
  height: $porX;
}
div.scroll-container {
  background-color: $bg-color;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
  border-radius: 30px;
  height: 600px;
  width: 300px;
}
.dark-mode {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .brasil {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .nav-mobile {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode body {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode footer {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .scroll-container {
  background-color: $dark;
  color: $bg-color;
}
.dark-mode .containerVovo {
  background-color: $dark;
}
.dark-mode .slide p {
  color: $bg-color;
}
.dark-mode .containerVovo .testimonial .testi-content .slide .details .name {
  color: $bg-color;
}
.dark-mode .containerVovo .testimonial .testi-content .slide .details .job {
  color: $bg-color;
}
.dark-mode .containerVovo .testimonial .botaoVovo {
  color: $dark;
  background-color: #fffbff62;
}
.dark-mode .containerVovo .testimonial .swiper-pagination-bullet {
  background-color: $bg-color;
}
.dark-mode .unicornio {
  color: $dark;
  background-image: linear-gradient(25deg, #e9edf0, #b7caca, #ffffff, #d9fff2);
}
.dark-mode .unicornio .row .col input {
  background-color: $dark;
}
.dark-mode .unicornio .row .col .btnUni {
  background-color: $dark;
  border-color: $bg-color;
  color: $bg-color;
}
.dark-mode .unicornio .row .col .btnUni:hover {
  background-color: $bg-color;
  color: $dark;
}
.dark-mode .container .row .col details {
  background-color: rgba(0, 255, 255, 0.269);
  color: $bg-color;
}
.dark-mode input {
  color: $bg-color;
}
.dark-mode .pato {
  background-color: $dark;
  color: $bg-color;
}
.containerVovo {
  height: 70vh;
  width: $cemPorCento;
  display: $flex;
  align-items: $cenTer;
  justify-content: $cenTer;
  background-color: $bg-color;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: $cemPorCento;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .imgDep {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: $porCento2;
}
.testimonial .slide {
  display: $flex;
  align-items: $cenTer;
  justify-content: $cenTer;
  flex-direction: column;
}
.slide p {
  text-align: $cenTer;
  padding: 0 120px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}
.slide .details {
  display: $flex;
  flex-direction: column;
  align-items: $center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.botaoVovo {
  height: 40px;
  width: 40px;
  border-radius: $porCento2;
  transform: translateY(30px);
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.botaoVovo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.botaoVovo::after,
.botaoVovo::before {
  font-size: 20px;
  color: $bg-color;
}
.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet:active {
  background-color: #4070f4;
}
@media screen and (max-height: 768px) {
  .slide p {
    padding: slidePx;
  }
}
.um {
  display: none;
}
.dois {
  display: $flex;
}
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.unicornio {
  background-image: linear-gradient(25deg, #113c57, #343535, #383a3a, #3a6969);
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 40px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  border-radius: 10px;
  color: $bg-color;
  margin-top: 80px;
  margin-bottom: 0px;
}
.unicornio .row .col input {
  border-radius: 7px;
  border-color: $dark;
  background-color: $bg-color;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 10px;
}
.unicornio .row .col input:focus {
  outline: none;
  box-shadow: 0 0 8px 2px rgb(106, 108, 108);
  transition: 400ms;
  padding: 12px;
}
.unicornio .row .col input::placeholder {
  font-weight: bold;
  font-size: 11px;
}
.btnUni {
  width: 190px;
  height: 50px;
  border-radius: 7px;
  background-color: $bg-color;
  color: $dark;
  font-weight: bold;
  border-color: $dark;
  padding: 10px 10px 10px 10px;
}
.btnUni:hover {
  background-color: $dark;
  color: $bg-color;
  transition: all 1s;
}
.unicornioText {
  font-family: "Questrial", sans-serif;
  font-weight: 600;
  font-stretch: $cemPorCento;
  font-size: 17px;
  text-decoration: none solid rgb(255, 255, 255);
  text-indent: 0px;
  vertical-align: baseline;
  letter-spacing: 0.7px;
}
.container .labUni {
  display: none;
}

.sum {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: $center;
  cursor: pointer;
  list-style-type: none;
}
details[open] summary .icon {
  transition: 1s;
  transform: rotate(540deg);
  width: 30px;
  height: 30px;
}
details {
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 255, 255, 0.098);
  border-radius: 20px;
}
details[open] {
  transition: all 1s;
  font-size: 18px;
}
details[open] .unicornioText {
  transition: all 1s;
  font-size: 20px;
}
summary .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: transform 0.26s;
  color: cyan;
  background-color: rgba(0, 255, 255, 0.215);
  border-radius: 20px;
}
.faqTop {
  margin-top: 20px;
  margin-bottom: 0px;
}
.dark-mode nav ul li a {
  background-color: $dark;
  color: $bg-color;
}
.whoopApresenta video {
  margin-top: 20px;
  width: $cemPorCento;
  height: 500px;
}
@media (max-width: 1180px) {
  .whoopApresenta video {
    margin-top: $slidePx;
  }
  .unicornio {
    padding: 8px;
  }
}
@media (max-width: 431px) {
  .unicornio .row .col input {
    padding: 20px;
  }
}
