$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 110px;
$body-background: #fff;
$nav-font-color: #0c0c0c;
$nav-background: #fff;
$link-hover-color: #aad0e8;
$nav-shadow: #fff;
$border: 15px;
$borderColor: red;

body {
  overflow-x: hidden;
  overflow-y: visible;
}

.navigation {
  height: $nav-height;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0px;
  box-shadow: $nav-shadow;
}
.brand {
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;

        &::before {
          transition: 300ms;
          height: 5px;
          content: "";
          position: absolute;
          background-color: $link-hover-color;
          width: 0%;
          bottom: 0px;
        }

        &:hover::before {
          width: 70%;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
  z-index: 1000;
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    ul {
      display: none;

      li {
        float: none;

        a {
          padding: 15px;
          line-height: 20px;

          &:hover::before {
            width: 20%;
          }
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
    z-index: 1000;
  }
}

#nav-toggle {
  z-index: 1000;
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
.bg-footer {
  background-color: $nav-background;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: "";
  width: 25px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}
.list-unstyled footer-link {
  color: #aad0e8;
}
.ponto {
  color: red;
}
.darkZao {
  position: relative;
}
.switch {
  right: 0px;
  position: fixed;
  display: inline-block;
  top: 0px;
  width: 60px;
  height: 34px;
  z-index: 1000;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.452);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(181, 177, 177);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f2f2f2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.topZao {
  position: relative;
}
#buttonTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(0, 42, 255);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
.dark-mode .bg-footer {
  background-color: #0c0c0c;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
